# Anáilse dos dados do site escola inteligente
São dados do INEP disponibilizados por meio de API

Link -> http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on

In [3]:
# Importando as bibliotecas
import pandas as pd
import requests

# URL de acesso a API
url = 'http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on'

# Requisitando os dados da API
resposta = requests.get(url)

# Criando o DataFrame
df = pd.DataFrame(resposta.json()[1])

# Exibe os primeiros dados
df.head()

,anoCenso,cidade,cod,codCidade,dependenciaAdministrativa,dependenciaAdministrativaTxt,enemMediaGeral,estado,idebAF,idebAI,nome,regiao,situacaoFuncionamento,situacaoFuncionamentoTxt
0,2013,CANDIDO DE ABREU,41036026,4104402,3,Municipal,0.0,PR,0.0,0.0,BAIRRO DOS MENDES E R M EF,Sul,1,Em atividade
1,2013,MONTE ALEGRE,15008258,1504802,3,Municipal,0.0,PA,0.0,0.0,E M E F AGUA AZUL,Norte,1,Em atividade
2,2013,PLACAS,15534340,1505650,3,Municipal,0.0,PA,0.0,0.0,E M E F AGUA BOA,Norte,1,Em atividade
3,2013,NOVO REPARTIMENTO,15525821,1505064,3,Municipal,0.0,PA,0.0,0.0,E M E F AMAZONIA,Norte,1,Em atividade
4,2013,AFUA,15022790,1500305,3,Municipal,0.0,PA,0.0,0.0,E M E F AMELIA HOLANDA,Norte,1,Em atividade

In [4]:
# Qual é o tamanho do DataFrame?
df.shape

(100, 14)

In [5]:
# Em quais estados estão essas escolas?
df['estado'].value_counts()

PA    99
PR     1
Name: estado, dtype: int64

In [6]:
# São todas escolas municipais?
df['dependenciaAdministrativaTxt'].value_counts()

Municipal    100
Name: dependenciaAdministrativaTxt, dtype: int64